<div class="interpretation-edit-input-form form-group">
  <textarea cols="100" rows="1" Autosize autofocus required minlength="10" [(ngModel)]="comment.text" name="text" #text="ngModel"
    class="interpretation-edit-input"></textarea>
  <div class="pull-right" [hidden]="text.invalid || comment.text === ''">
    <button ion-button color="light" outline (click)="cancel($event)">CANCEL</button>
    <button ion-button color="light" outline [disabled]="creating" (click)="editComment($event)">
      {{creating ? 'POSTING' : 'POST'}}
    </button>
  </div>
</div>