<div class="organisation-unit">
  <div class="organisation-unit-icon">
    <img
      (click)="toggleTree(organisationUnit)"
      *ngIf="(!hasOrgUnitChildrenOpened[organisationUnit.id]) &&
      (organisationUnit.children && organisationUnit.children.length > 0)"
      [src]="'assets/icon/plus-circle.png'" alt="">
    <img
      (click)="toggleTree(organisationUnit)"
      *ngIf="(hasOrgUnitChildrenOpened[organisationUnit.id]) &&
      (organisationUnit.children && organisationUnit.children.length > 0)"
      [src]="'assets/icon/minus-circle.png'" alt="">
  </div>
  <div
    (click)="selectOrganisationUnit(organisationUnit)"
    [ngClass]="{
    'organisation-unit-without-children': (organisationUnit.children && organisationUnit.children.length == 0),
    'selected-organisation-unit': (seletectedOrganisationUnitIds.indexOf(organisationUnit.id) > -1)
    }"
  >
    &nbsp;
    {{ organisationUnit.name }}
  </div>
</div>

<div class="organisation-unit-children" *ngIf="hasOrgUnitChildrenOpened[organisationUnit.id]">
  <div *ngIf="!(isOrganisationUnitsFetched && hasOrgUnitChildrenLoaded)">
    <div>
      <span style="text-align: center" item-left>
        <!--<loading loadingSize="small"></loading>-->
      </span>
      <span>
        {{ translationMapper['Discovering organisation units'] }}
      </span>
    </div>
  </div>
  <div *ngIf="hasErrorOccurred">
    <!--<ion-item>-->
      <!--{{ translationMapper['Fail to discover organisation unit children'] }}-->
    <!--</ion-item>-->
  </div>
  <div *ngIf="isOrganisationUnitsFetched && hasOrgUnitChildrenLoaded && !hasErrorOccurred">
    <div *ngFor="let organisationUnit of organisationUnit.children">
      <multi-organisation-unit-tree [selectedOrgUnits]="selectedOrgUnits" (activate)="onActivateOu($event)" (deactivate)="onDeactivateOu($event)"
        [hasOrgUnitChildrenOpened]="hasOrgUnitChildrenOpened" [organisationUnit]="organisationUnit" [currentUser]="currentUser"
        [toggledOuIds]="toggledOuIds"></multi-organisation-unit-tree>
    </div>
  </div>
</div>
