<div [style.minHeight]=" '200px' " [style.maxHeight]="visualizationObject.details.itemHeight ">
  <!--chart visualization-->
  <div class="chart-visualization ">
    <app-chart-list *ngIf="visualizationObject.details.currentVisualization==='CHART'
    " [visualizationLayers]="visualizationObject.layers " [visualizationId]="visualizationObject.id " [chartHeight]="visualizationObject.details.itemHeight "></app-chart-list>
  </div>
  <!--end of chart visualization-->
  <!--table block-->
  <div class="table-visualization ">
    <app-table-list *ngIf="visualizationObject.details.currentVisualization==='TABLE'
    " [visualizationType]="visualizationObject.type " [visualizationLayers]="visualizationObject.layers ">

    </app-table-list>
  </div>
  <!--end of table block-->

  <!-- map block -->
  <div class="map-container " *ngIf="visualizationObject.details.currentVisualization==='MAP' ">
    <app-map [vizObject]="visualizationObject "></app-map>
  </div>
  <!-- end of map block -->
  <!-- users block -->
  <div class="users-container-block " *ngIf="visualizationObject.details.currentVisualization==='USERS' ">
    <app-users-container [visualizationLayers]="visualizationObject.layers "></app-users-container>
  </div>
  <!-- end of users block -->

  <!-- resources block -->
  <div class="resources-container-block " *ngIf="visualizationObject.details.currentVisualization==='RESOURCES' ">
    <app-resources-container [visualizationLayers]="visualizationObject.layers "></app-resources-container>
  </div>
  <!-- end of resources block -->

  <!-- resources block -->
  <div class="resources-container-block " *ngIf="visualizationObject.details.currentVisualization==='REPORTS' ">
    <app-reports-container [visualizationLayers]="visualizationObject.layers "></app-reports-container>
  </div>
  <!-- end of resources block -->

  <!-- app block -->
  <div class="app-container-block " *ngIf="visualizationObject.details.currentVisualization==='APP' ">
    <app-app-container [height]="visualizationObject.details.itemHeight
    " [currentUser]="currentUser$ | async " [appUrl]=" 'api/apps/' + visualizationObject.details.appKey
    + '/index.html?dashboardItemId=' + visualizationObject.id "></app-app-container>
  </div>
  <!-- end of app block -->

  <!--dictionary block-->
  <div class="dictionary-container " [style.maxheight]="visualizationObject.details.cardHeight
    " *ngIf="visualizationObject.details.currentVisualization==='INFO' ">
    <app-dictionary-list [metadataIdentifiers]="visualizationObject.details.metadataIdentifiers "></app-dictionary-list>
  </div>
  <!--end of dictionary block-->
</div>